extends layout

block content
  h1
    a(href="/")= title

  h2 #{entity.replace(/_/g, ' ')} List

  a(href="/#{entity}/new") New

  table
    tr
      - for val, key in schema
        td= key
    - for model in models
      tr
        - for val, key in model
          - if (schema[key] && typeof val === 'object' && val)
            td
              a(href="/#{fks[key.replace(/ /g, '_')]}/#{val.id}") #{val.Name}
          - else if (schema[key])
            - if (key === 'Name')
              td
                a(href="/#{entity}/#{model.id}")= val || '(unknown)'
            - else
              td= val