extends layout

block content
  .row
    h1
      a(href="/")= title

  .row
    h2 #{entity.replace(/_/g, ' ')} Detail

  .row
    form(action="/#{entity}/#{model.id}" method="POST")
      .row
        +parseObject(schema)
      .pull-right
        a(href="/#{entity}" style="margin-right: .33em").btn.btn-default Cancel
        button(type="submit").btn.btn-primary Save
      input(type="hidden" value="#{model.id}" name="id")

mixin parseObject(obj)
  div
    - if (obj !== null)
      - each val, key in obj
        - if (typeof val === 'string')
          - if ('-<>='.match(val[0]))
            +makeModelSelector(key, val.substr(1))
          - else
            +makeInput(key, val)
        - else if (val.map)
          +makeInput(key, 'enum', val)
        - else if (typeof val === 'object')
          // h2= util.camelToTitle(key)
          // mixin parseObject(val)

mixin makeInput(label, type, enumVal)
  .col-lg-3.col-md-4.col-sm-6
    .form-group
      label(for="#{label}")= label
      - if (type === 'string')
        input(type="text" id="#{label}" name="#{label}" value="#{model[label] || ''}").form-control
      - else if (type === 'number')
        input(type="number" id="#{label}" name="#{label}" value="#{model[label] || ''}").form-control
      - if (type === 'date')
        input(type="date" id="#{label}" name="#{label}" value="#{model[label] || ''}").form-control
      - else if (type === 'enum' && enumVal)
        select(id="#{label}" name="#{label}").form-control
          - each choice in enumVal
            option(value="#{choice}" selected="#{model[label] === choice}")= choice

mixin makeModelSelector(label, modelName)
  .col-lg-3.col-md-4.col-sm-6
    .form-group
      label(for="#{label}")= label
      select(id="#{label}" name="#{label}").form-control
        option
        - each choice in modelRefs[modelName]
          - if (model[label] && model[label].id === choice.id)
            option(value="#{choice.id}" selected)= choice.Name
          - else
            option(value="#{choice.id}")= choice.Name