extends layout

block content
  h1= title
  p Welcome to #{title}


  form(action="/submit/#{schema}" method="POST")
    +parseObject(schemas[schema])
    button(type="submit") Submit

mixin parseObject(obj)
  div
    - if (obj !== null)
      - each val, key in obj
        - if (typeof val === 'string')
          - if ('-<>='.match(val[0]))
            +makeModelSelector(key, val.substr(1))
          - else
            +makeInput(key, val)
        - else if (val.map)
          +makeInput(key, 'enum', val)
        - else if (typeof val === 'object')
          // h2= util.camelToTitle(key)
          // mixin parseObject(val)

mixin makeInput(label, type, enumVal)
  label(for="#{label}")= label
  - if (type === 'string')
    input(type="text" id="#{label}" name="#{label}")
  - else if (type === 'number')
    input(type="number" id="#{label}" name="#{label}")
  - if (type === 'date')
    input(type="date" id="#{label}" name="#{label}")
  - else if (type === 'enum' && enumVal)
    select(id="#{label}" name="#{label}")
      - each choice in enumVal
        option(value="#{choice}")= choice
  br

mixin makeModelSelector(label, model)
  label(for="#{label}")= label
    select(id="#{label}" name="#{label}")
      option
      - each choice in modelRefs[model]
        option(value="#{choice.id}")= choice.Name
  br